<%-include("partial/header")%>

<!-- This is the Bio -->

<div class="container">
  <h1>Bio</h1>
  <p style="margin-top:-50px" class="bio_text">
    <img class="bio_photo" src="images/Headshots/Headshot.png" alt="Mike Frasier">
    Mike Frasier is a tubist, pianist, bassist, music teacher, writer,
    composer, arranger, producer, web developer, and entrepreneur based in
    Chicago. As the tuba and piano player for Presidio Brass—an XO Brass
    ensemble managed by ECE touring and Allied Music Group—he has performed
    in hundreds of concert halls, theaters, and music schools across the
    country. He has also entertained audiences across Europe, Canada, and
    China, and performed with such groups as the Detroit Symphony Orchestra,
    Chicago Philharmonic Orchestra, Chautauqua Symphony Orchestra, Adrian
    Symphony Orchestra, and Evanston Symphony Orchestra. <br> <br>

    A devoted educator, Mike has appeared as a clinician at the National
    Association for Music Education Conference, the Midwest Clinic, the Tennessee
    Arts Academy, and several state Music Educators Association conferences.
    He has also presented masterclasses at dozens of higher institutions including
    the University of Michigan, Florida State University, the University of Missouri, the University of Central
    Florida, and the University of Southern Mississippi.
    He has partnered with VH1 Save The Music to bring music performances to underserved
    school programs, in addition to providing music lessons to foster children with Care2Rock.
    He currently maintains a private studio in Chicago where he teaches tuba, piano, and
    bass, as well as offering music tutoring for students
    ranging from beginners to doctoral candidates. <br> <br>


    As co-founder of Slapsauce Music, he has produced over a hundred music
    videos and live events for independent musicians in the Chicago area,
    including the viral Internet video series “Smooth Tuba Tuesday” which he
    stars in every week. Slapsauce also makes custom merchandise for musicians,
    and offers a wide range of audio/video production services. <br> <br>

    Born and raised in the suburbs of Detroit, Mike began studying piano with
    Diana Munch at age 6. By middle school he had picked up the tuba and was
    trying his hand at composition, premiering the piece “Genesis” in
    collaboration with professional recording artist Randy Scott. He would go on
    to earn two Bachelor of Music degrees from the University of Michigan and two Master
    of Music degrees from Northwestern University, each in music performance and
    music theory. In addition to studying tuba with Fritz Kaenzig and Rex Martin,
    he gained a wealth of experience teaching advanced music theory concepts to
    undergraduate and graduate students. He has since presented lectures on
    musical topics ranging from the role of body awareness in music performance
    to the hip-hop music of J Dilla. <br> <br>

    An active fitness enthusiast and former personal trainer, Mike enjoys
    running, swimming, cycling, and working on his jump shot. He also enjoys
    volunteering in his free time, and appears regularly with the Chicago
    Freedom Ensemble to bring positivity through music to various mutual aid
    initiatives in Chicago.
  </p>
</div>

<!-- This is the end of the bio -->
