<%-include("partial/header")%>
<a id="no_underline" href="#contact">
  <h1>Contact me!</h1>
  <div class="main_image" style="background-image: url('images/IMG_2216.jpeg'); margin-top:-50px; height:500px" alt="Mike Frasier Plays the Tuba"></div>
</a>
<div class="centered">
<h2>Email me for music lessons:</h2>
  <span>mikefrasiermusic(at)gmail(dot)com</span>
</div>
<br>
<br>
<div class="centered">
<h2>Email Slapsauce for music/merch production:</h2>
<span>Slapsaucemusic(at)gmail(dot)com</span>
</div>
<br>
<br>
<div id="contact" class="centered">
  <h2>Follow me on social media!</h2>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
