<%-include("partial/header")%>
<a id="no_underline" href="#news">
  <h1 style="margin-bottom:100px">News</h1>
  <div class="main_image" style="background-image: url('images/Tuba/Presidio USO Show.jpg');margin-top:-100px; height:350px" alt="Mike Frasier Plays the Tuba"></div>
</a>
<br>
<div id="news" class="container">
  <script src="//rss.bloople.net/?url=http%3A%2F%2Fmikefrasier.wordpress.com%2Ffeed&showtitle=false&type=js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>
