<div class="carousel">

</div>

<link rel="icon" href="images/tuba favicon.png" type="image/png">
<div class="header_clear"></div>
<%-include("piano main.ejs")%>
<!-- FOOTER -->
<%-include("partial/footer", {year: year})%>
