<%-include("partial/header")%>
<a id="no_underline" href="#tuba">
  <h1 style="margin-bottom:100px">Tuba</h1>
  <div class="main_image" style="background-image: url('images/Tuba/Presidio USO Show.jpg');margin-top:-100px; height:350px" alt="Mike Frasier Plays the Tuba"></div>
  <!-- <div class="container">
    <div style="background-color:#ECECE9; margin-top:10px" class="card">
      <p>I've been teaching tuba for over 10 years, having learned from some of the finest
        brass pedagogues of our generation. As both a member of a touring brass
        quintet and the star of a hit YouTube series, I know how to find the various
        opportunities that exist out there for musicians. Whether you're a beginning
        student looking to learn how to play or an aspiring professional looking
        to hone your skills, I can guide you to success!</p>
    </div>
  </div> -->
</a>
</div>
<div class="row">
  <div style="margin-top:50px; margin-bottom:50px; width:25%; margin-left:auto; margin-right:auto" class="btn btn-primary">
    <a id="no_underline" style="font-color:black" href="mailto: mikefrasiermusic@gmail.com">GET A FREE TUBA LESSON!</a>
  </div>
</div>

<div style="margin-top:20px; display:inline-block; width:33%; margin:auto; text-align:center">
  <a href="files/Bb Tuba Fingering Chart.pdf">
    <h4>Download Bb Tuba Fingering Chart</h4>
    <img style="width:50%; margin:auto" src="images/Logos/PDF Download.png" alt="Bb Tuba Fingering Chars">
  </a>
</div>
<div style="display:inline-block; width:33%; margin:auto; text-align:center">
  <a href="files/C Tuba Fingering Chart.pdf">
    <h4 style="vertical">Download C Tuba Fingering Chart</h4>
    <img style="width:50%; margin:auto" src="images/Logos/PDF Download.png" alt="Slapsauce Music">
  </a>
</div>
<div style="display:inline-block; width:33%; margin:auto; text-align:center">
  <a href="files/F Tuba Fingering Chart.pdf">
    <h4 style="margin-top:20px">Download F Tuba Fingering Chart</h2>
      <img style="width:50%; margin:auto" src="images/Logos/PDF Download.png" alt="Chicago Freedom Ensemble">
  </a>
</div>
<div id="tuba"></div>
