<footer class="container">
  <div class="social_menu">


    <a class="social_buttons" id="no_underline" href="https://www.youtube.com/c/slapsauce">
      <span style="font-size: 3rem; color: Red">
        <i width="10%" margin="auto" class="fab fa-youtube-square"></i>
      </span>
    </a>

    <a class="social_buttons" id="no_underline" href="https://www.facebook.com/MikeFrasierMusic/">
      <span style="font-size: 3rem; color: #4267B2">
        <i width="10%" margin="auto" class="fab fa-facebook-square"></i>
      </span>
    </a>

    <a class="social_buttons" id="no_underline" href="https://instagram.com/mikefrasiermusic">
      <!-- <span class="instagram" style="font-size: 3rem">
        <i margin="auto" class="fab fa-instagram-square instagram"></i>
      </span> -->
    <img style="width:3rem; vertical-align:baseline" src="images/Logos/Instagram Logo Color copy.png" alt="Instagram Logo">
    </a>

    <a class="social_buttons" id="no_underline" href="https://soundcloud.com/mikefrasiermusic">
      <span style="font-size: 3rem; color: #FF7700">
        <i color:#FF7700 width="10%" margin="auto" class="fab fa-soundcloud"></i>
      </span>
    </a>

    <a class="social_buttons" id="no_underline" href="https://twitter.com/slapsaucemusic">
      <span style="font-size: 3rem; color: #1DA1F2">
        <i width="10%" margin="auto" class="fab fa-twitter-square"></i>
      </span>
    </a>
  </div>
  <p style="text-align:center">&copy; 2021 Mike Frasier</p>
  <p class="float-end"><a href="#">Back to top</a></p>

</footer>
</main>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a34cee8082.js" crossorigin="anonymous"></script>
</body>

</html>
